//go:build go1.18
// +build go1.18

// Code generated by Microsoft (R) AutoRest Code Generator (autorest: 3.9.6, generator: @autorest/go@4.0.0-preview.50)
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// Code generated by @autorest/go. DO NOT EDIT.

package azureopenai

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// EmbeddingsClient contains the methods for the Embeddings group.
// Don't use this type directly, use a constructor function instead.
type EmbeddingsClient struct {
	internal *azcore.Client
}

// Create - Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-06-01-preview
//   - deploymentID - The deployment id of the model which was deployed.
//   - options - EmbeddingsClientCreateOptions contains the optional parameters for the EmbeddingsClient.Create method.
func (client *EmbeddingsClient) Create(ctx context.Context, deploymentID string, body Paths13PiqocDeploymentsDeploymentIDEmbeddingsPostRequestbodyContentApplicationJSONSchema, options *EmbeddingsClientCreateOptions) (EmbeddingsClientCreateResponse, error) {
	var err error
	req, err := client.createCreateRequest(ctx, deploymentID, body, options)
	if err != nil {
		return EmbeddingsClientCreateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EmbeddingsClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return EmbeddingsClientCreateResponse{}, err
	}
	resp, err := client.createHandleResponse(httpResp)
	return resp, err
}

// createCreateRequest creates the Create request.
func (client *EmbeddingsClient) createCreateRequest(ctx context.Context, deploymentID string, body Paths13PiqocDeploymentsDeploymentIDEmbeddingsPostRequestbodyContentApplicationJSONSchema, options *EmbeddingsClientCreateOptions) (*policy.Request, error) {
	host := "https://{endpoint}/openai"
	host = strings.ReplaceAll(host, "{endpoint}", endpoint)
	urlPath := "/deployments/{deployment-id}/embeddings"
	if deploymentID == "" {
		return nil, errors.New("parameter deploymentID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{deployment-id}", url.PathEscape(deploymentID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-06-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// createHandleResponse handles the Create response.
func (client *EmbeddingsClient) createHandleResponse(resp *http.Response) (EmbeddingsClientCreateResponse, error) {
	result := EmbeddingsClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Paths15Cw454DeploymentsDeploymentIDEmbeddingsPostResponses200ContentApplicationJSONSchema); err != nil {
		return EmbeddingsClientCreateResponse{}, err
	}
	return result, nil
}
